// Font Family
$font-family-title : 'Nunito', sans-serif;
$font-family-text : "Poppins, sans-serif";

//iconfont
$EcIcons: "EcIcons";

//Site main Color
$main-primary-color: #5f6af5;
$main-secondary-color: #ff4f7f;
$main-third-color: #2bbb93;
$main-fourth-color: #50d1f8;
$primary-transparent: rgba(95, 105, 245, 0.1);
$primary-transparent-hover: hsla(236, 88%, 67%, 0.2);
$secondary-transparent : rgba(255, 79, 126, 0.1);
$third-transparent : rgba(43, 187, 146, 0.1);
$up:#2bbb93;
$up-dark:#25a984;
$down:#f90c4c;
$body-bg: rgba(223, 230, 237, 0.3);
$body-bg-dark: rgba(72, 85, 104, 0.08);
$gray: #1d2531;
$sb-title-color:#485568;
$sb-item-color:#aeb8c7;
$sb-item-color-hover:#fff;
$sb-sub-item-color:#9da7b5;
$border-eee: #eee;
$card-border-eee: #eee;
$border-ddd: #ddd;
$icon-clr:#9799a7;
$radius: 5px;
$title-color: #484d54;
$text-777: #777;
$text-555: #555;
$text-999: #999;
$fff: #fff;
$bbb: #bbb;
$separator : #27303e;
$bg-transparent :rgba(72, 85, 104, 0.07);
$card-shadow: 0 0 10px -3px rgba(0,0,0,.15);
$radius: 5px;
$hover-drop-list: #e9ecef;
$color-white: #f5f5f5;
$color-light-gray: #435f7a;
$color-dark-gray: #32465a;
$background-color-gray: #243140;
$background-black-trans: rgba(0, 0, 0, 0.3);

$color-1: #55ca9a;
$color-2: #f5885f;
$color-3: #32dbe2;
$color-4: #3f51b5;
$color-5: #f44336;
$color-6: #e91e63;
$color-7: #607d8b;
$color-8: #1e2531;
$color-9: #03492f;