################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Slate.KnowledgeBase.Preprocessor/.vs/Slate.KnowledgeBase.Preprocessor/FileContentIndex
/Slate.KnowledgeBase.Preprocessor/obj
/Slate.KnowledgeBase.Preprocessor/.vs/Slate.KnowledgeBase.Preprocessor
/Slate.KnowledgeBase.Preprocessor/bin/Debug/net7.0
