/* color-7 */
$color-7: #607d8b;
$black: #000;
$white: #fff;

.gx-btn-primary,
.gx-primary-btn {
    background-color: $color-7;
    border: 1px solid $color-7;
    &:hover {
        border: 1px solid $color-7;
    }
}

.gx-topic-list {
    ul {
        li {
            a {
                &:hover {
                    color: $color-7;
                    border: 1px solid $color-7;
                }
            }
            .active {
                border: 1px solid $color-7;
                color: $color-7;
            }
        }
    }
}

.gx-main-structure {
    i {
        color: $color-7;
    }
    ul {
        li {
            a {
                i {
                    color: $color-7;
                }
            }
            i {
                color: $color-7;
            }
        }
    }
}

b {
    color: $color-7;
}

